#include LICENSE
#include README.md
#include Requirements.txt

include *.*
recursive-include examples *.*
recursive-include tegridy-tools *.*
recursive-include tegridy-tools/Perceiver-AR *.*
recursive-include tegridy-raspberry *.*
